{% extends 'AfupAdminBundle::layout.html.twig' %}

{% block content %}
    <div class="panel">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    </div>
{% endblock %}
