{% extends 'AfupAdminBundle::layout.html.twig' %}

{% block container %}
<div class="container main">
  <section class="content">

    {% if error %}
        <div>{{ error.message }}</div>
    {% endif %}

    <form action="{{ url('afup_admin_login_check') }}" method="post">
        <label for="username">Login :</label>
        <input type="text" id="username" name="_username" value="{{ last_username }}" />

        <label for="password">Mot de passe :</label>
        <input type="password" id="password" name="_password" />

        {#
            Si vous voulez contrôler l'URL vers laquelle l'utilisateur est redirigé en cas de succès
            (plus de détails ci-dessous)
            <input type="hidden" name="_target_path" value="/account" />
        #}

        <button type="submit">login</button>
    </form>
  </section>
</div>
{% endblock %}
