{% extends parent_template() %}

{% block body %}{{ parent() }} register{% endblock %}    

{% block fos_user_content %}

<div class="box-register">
        <h3>Vous êtes bien inscrit</h3>
        <p>{{ 'registration.confirmed'|trans({'%username%': user.username}, 'FOSUserBundle') }}</p>
        {% if app.session is not empty %}
            {% set targetUrl = app.session.get('_security.' ~ app.security.token.providerKey ~ '.target_path') %}
            {% if targetUrl is not empty %}<p><a href="{{ targetUrl }}">{{ 'registration.back'|trans({}, 'FOSUserBundle') }}</a></p>{% endif %}
        {% endif %}
        <!-- start: COPYRIGHT -->
        <div class="copyright">
                2014 &copy; Rapido by cliptheme.
        </div>
        <!-- end: COPYRIGHT -->
</div>
{% endblock fos_user_content %}