{% extends parent_template() %}

{% block body %}{{ parent() }} request{% endblock %}    

{% block fos_user_content %}
<!-- start: FORGOT BOX -->
<div class="box-forgot">
        <h3>Action annulée</h3>
        <p>{{ 'resetting.password_already_requested'|trans({}, 'FOSUserBundle') }}</p>
        <!-- start: COPYRIGHT -->
        <div class="copyright">
                {% include '::copyright.html.twig' %}
        </div>
        <!-- end: COPYRIGHT -->
</div>
<!-- end: FORGOT BOX -->
{% endblock fos_user_content %}
