{% extends parent_template() %}

{% block body %}{{ parent() }} request{% endblock %}    

{% block fos_user_content %}
<!-- start: FORGOT BOX -->
<div class="box-forgot">
        <h3>Mot de passe oublié?</h3>
        <p>
                Entrez votre nom d'utilisateur ci-dessous pour réinitialiser votre mot de passe.
        </p>
        <form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request form-forgot">
                {% if invalid_username is defined %}
                <div class="errorHandler alert alert-danger no-display">
                       {{ 'resetting.request.invalid_username'|trans({'%username%': invalid_username}, 'FOSUserBundle') }}
                </div>
                {% endif %}
                <fieldset>
                        <div class="form-group">
                                <span class="input-icon">
                                        <input class="form-control"  placeholder="{{ 'resetting.request.username'|trans({}, 'FOSUserBundle') }}" id="username" name="username" required="required">
                                        <i class="fa fa-user"></i> </span>
                        </div>
                        <div class="form-actions">
                                <a class="btn btn-light-grey go-back">
                                        <i class="fa fa-chevron-circle-left"></i> Se connecter
                                </a>
                                <button type="submit" class="btn btn-green pull-right">
                                        Envoyer <i class="fa fa-arrow-circle-right"></i>
                                </button>
                        </div>
                </fieldset>
        </form>
        <!-- start: COPYRIGHT -->
        <div class="copyright">
                2014 &copy; Rapido by cliptheme.
        </div>
        <!-- end: COPYRIGHT -->
</div>
<!-- end: FORGOT BOX -->
{% endblock fos_user_content %}
