{% extends '::base-back.html.twig' %}

{% block body %}login{% endblock %}    

{% block content %}
    <div class="row">
        <div class="main-login col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-4">
        <div class="logo">
                <img src="{{ asset('assets/images/logo.png') }}">
        </div>
        {% block fos_user_content %}{% endblock %}
    </div>
{% endblock %}  

{% block javascripts %}
    {% javascripts 'assets/plugins/jquery-validation/dist/jquery.validate.min.js'
        'assets/js/login.js'
        output="js/login.js"
    %}
        <script src="{{ asset_url }}"></script>
        <script>
                jQuery(document).ready(function() {
                    Login.init();
                });
        </script>
    {% endjavascripts %}
{% endblock %}  